@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}





.wrapper {
    font-family: 'Open Sans', sans-serif;
}

main {
    margin: 100px 0;
}

.container {
    margin: 0 auto;
    max-width: 570px;
}

.calendar-wrapper {
    display: flex;
    justify-content: space-between;
}

.calendar {
    display: flex;
    max-width: 270px;
}

.time-wrapper {
    width: 45px;
}


.time-item {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 45px;
    height: 120px;
    color: #8f98a0;
}

.time-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 1px;
    width: 270px;
    background: #d3dce4;
}

.time-item p {
    font-size: 16px;
}

.time-item span {
    font-size: 12px;
}

.event-wrapper {
    position: relative;
    width: 225px;
}

.event {
    position: absolute;
    top: 0;
    left: 0;
    width: 198px;
    height: 0;
    border-left: 2px solid #6E9ECF;
    background: #E2ECF5;
    transition: all 0.5s ease;
    cursor: pointer;
}

.event > h2 {
    display: inline-block;
    position: relative;
    margin: 5px 0 0 5px;
    overflow: hidden;
    font-size: 14px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.title-popup {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    padding: 3px;
    border: 1px solid #000;
    border-radius: 2px;
    z-index: 5;
    background: #d0f6c4;
}

.title-popup p {
    white-space: nowrap;
}

.event:hover .title-popup{
    display: block;
}

.event-descr {
    position: absolute;
    display: none;
    top: -85px;
    left: 95%;
    border-left: 2px solid #75e951;
    z-index: 10;
    padding: 10px;
    background: #d0f6c4;
    cursor: default;
}

.event-descr-close {
    margin-bottom: 10px;
    text-align: right;
}

.event-descr-close div {
    position: relative;
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 1px solid #000;
    border-radius: 3px;
    cursor: pointer;
}

.event-descr-close div::after, 
.event-descr-close div::before {
    content: '';
    position: absolute;
    width: 13px;
    height: 1px;
    top: 7px;
    left: 1px;
    transform: rotate(45deg);
    background: #000;
}

.event-descr-close div::after {
    transform: rotate(135deg);
}

.event-descr > h2 {
    margin: 5px 0 15px 5px;
    font-size: 14px;
}

.event-descr > button {
    margin: 0 auto;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    background: #E2ECF5;
    cursor: pointer;
}

.event-descr > button:hover {
    background: #ff9f9f;
}

.event-descr > button + button {
    width: 76px;
    margin-left: 15px;
}

.event-descr-block {
    display: block;
}

.event-descr label {
    display: block;
    margin-bottom: 10px;
    white-space: nowrap;
}

.event-descr label p {
    display: inline-block;
    width: 80px;
}

.event-descr input[data-start-hours],
.event-descr input[data-start-minutes] {
    max-width: 17px;
    text-align: center;
}

.event-descr input[data-title] {
    max-width: 167px;
}

.event-descr input[data-duration] {
    max-width: 27px;
    text-align: center;
}

.event-descr input[data-huebee] {
    border-width: 1px;
    border-radius: 2.3px;
    color: transparent !important;
}

.notification {
    position: fixed;
    bottom: -300px;
    right: 30px;
    padding: 10px 10px 50px;
    border: 1px solid #000;
    border-radius: 3px;
    transition: all 1s ease;
    background: #d0f6c4;
}

.notification.active {
    bottom: 30px;
}