<!DOCTYPE html>   
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">	 
    <link media="all" rel="stylesheet" href="css/style.css">
    <link rel="icon" href="https://camo.githubusercontent.com/eb8b5f9caa4b4765b222e961729eadb775ac710b/68747470733a2f2f67617265766e612e6769746875622e696f2f6a732d73616d706c65732f696d616765732f612d6c6576656c2d69636f2e706e67" >	
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <title>A-level</title>
</head>
<body>
    <div class="wrapper wrapper-auth">
        <main>
            <div class="container">
                <section class="auth">
                    <div class="form-auth-wrapper">
                        <div>
                            <input type="text" name="name" id="name" placeholder="Enter your name...">
                            <input type="password" name="password" id="pass" placeholder="Enter your password...">
                            <input class="user-mail" type="text" name="email" id="email" placeholder="Enter your email...">
                            <div class="message"></div>
                            <div class="btns-wrapper">
                                <button class="login active">Login</button>
                                <button class="registered">Sign up</button>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </main>
    </div>
    <script src="js/auth.js"></script>
</body>
</html>